{% extends 'base_main.html' %}
{% block title %}
天天生鲜-商品详情
{% endblock %}


{% block content %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="{% url 'goods:list' 1 %}" class="fruit">新鲜水果</a></li>
                    <li><a href="{% url 'goods:list' 2 %}" class="seafood">海鲜水产</a></li>
                    <li><a href="{% url 'goods:list' 3 %}" class="meet">猪牛羊肉</a></li>
                    <li><a href="{% url 'goods:list' 4 %}" class="egg">禽类蛋品</a></li>
                    <li><a href="{% url 'goods:list' 5 %}" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="{% url 'goods:list' 6 %}" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/media/{{ goods.goods_front_image }}/"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.name }}</h3>
			<p>{{ goods.goods_brief }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.shop_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" onclick="add_number({{ goods.shop_price }})" class="add fr">+</a>
					<a href="javascript:;" onclick="sub_number({{ goods.shop_price }})" class="minus fr">-</a>
				</div>

                <script type="text/javascript">
                    function add_number(price){
                        //修改商品的个数和商品的总价
                        var num = $('.num_show').val();
                        var new_num = parseInt(num) + 1;
                        var total_price = price * new_num;
                        // 修改商品总价
                        $('.total em').html(total_price + '元')
                        // 修改商品个数
                        $('.num_show').val(new_num);

                    }
                </script>

                <script type="text/javascript">
                    function sub_number(price){
                        // 修改商品的个数
                        var num = parseInt($('.num_show').val())
                        if (num > 1){
                            var new_num = num - 1;
                            }
                        else
                            new_num = num;
                        var total_price = price * new_num;
                        $('.total em').html(total_price + '元');
                        $('.num_show').val(new_num);

                    }

                </script>


			</div>
			<div class="total">总价：<em>{{ goods.shop_price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
                {% csrf_token %}
				<a href="javascript:;" class="add_cart" onclick="add_cart({{ goods.id }});" id="add_cart">加入购物车</a>

				<script type="text/javascript">
					function add_cart(goods_id){
						var goods_num = $('.num_show').val();
						var csrf = $('input[name="csrfmiddlewaretoken"]').val()
						$.ajax({
							url: '/cart/add_cart/',
							type: 'POST',
							dataType: 'json',
							headers: {'X-CSRFToken': csrf},
							data: {'goods_id': goods_id, 'goods_num': goods_num},
							success: function(data){
                                if(data.code=='200'){
                                    //添加购物车效果
							        $('#show_count').html(data.goods_count)
							        alert('添加购物车成功')
                                }
							},
							error: function(data){
							    alert('添加购物车失败')
							}
						})
					}
				</script>


			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>

				<ul>
                    {% load static %}
					<li>
						<a href="#"><img src="{% static 'web/images/goods/goods001.jpg' %}"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="{% static 'web/images/goods/goods002.jpg' %}"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>
                        {% if goods.goods_desc %}
                            {{ goods.goods_desc | safe }}
                        {% endif %}
                    </dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="add_jump"></div>
{% endblock %}

{% block js %}
{{ block.super }}
    {% load static %}

	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		<!--var $to_x = $('#show_count').offset().top;-->
		<!--var $to_y = $('#show_count').offset().left;-->

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>
{% endblock %}